body{
    text-align: center;
    background: linear-gradient(to right, #f3e0a4, #ffffff);
  }

body.dark-mode{
  background: linear-gradient(to right, #690172 15%, #080384);
  color: #ffffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


