#root {
    text-align: center;
    background: linear-gradient(rgb(253, 232, 177),rgb(246, 228, 193),white );
  }

nav{
  color: #7b3b16;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;  
}
section{
  color: #2D2D2D;
}
 
.name{
  color: #518945
}

.aboutme{
  background: #ccc092;
  border-radius: 2rem;
  padding: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


